@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    scroll-behavior: smooth;
  }
  body {
    cursor: url("./images/cursor.png"), auto;
  }

.menuBurger{
    height: 4vmax !important;
}
.clip-path::after{
    clip-path: polygon(100% 71%, 0% 100%, 100% 100%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
     -webkit-appearance: none;
     margin: 0;
}

/* Firefox */
input[type="number"]{
    -moz-appearance: textfield;
}

/* Pagination Design */
.pagination{
    display: flex;
    justify-content: center;
}
.page_item{
    padding: 1vmax 1.5vmax;
    border: 1px solid rgba(0, 0, 0,0.275);
    transition: all 0.3s;
}
.page_item:first-child{
    border-radius: 5px 0 0 5px;
}
.page_item:last-child{
    border-radius: 0 5px 5px 0;
}
.page_item:hover{
    background: #00000040;
}
.pageItemActive{
    background: tomato;
}
.pageLinkActive{
    color: white;
}


abbr{
    background-color: red;
}
.MuiTypography-root {
    background-color: #fff !important;
  }
  .MuiDataGrid-columnHeaders{
    background-color: tomato;
    color: white;
  }
 